 @font-face{ 
    font-family: CustomHeaderFont; 
    src: url();
 }
 
 
 
 
 body,html{ 
    display: flex;
    justify-content: center; 
    margin: 0; 
    background-color: blueviolet; 


}

#container{
    width: 1000px;
    padding: 10px;
    border: 1px solid black; 
    background-color: white;
}

h1{
    font-family: monospace;
    color: hotpink;
    font-size: 50px;
}

header, nav, section, footer{
    border: 1px solid grey;
    width: 100%;
}

header{
    height: 130px;
}

nav{
    text-align: center;
}

.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
}

.btn:link{
    width: 300px;
    text-decoration: none;
    height: 50px;
    border:1px solid blue;
    color:black;
    background-color: aquamarine; 
    padding: 5px;
    margin-left: 10px;
}
.btn:visited{
    color: black;
}
.btn:hover{
    background-color: blueviolet;
}
#nav-list-links{
   
}

footer{
    text-align: center;
    font-family: monospace;
    color: hotpink;
    background-color: blueviolet;
}
 
   
.section-text{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
 
#section-header{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

section{ 
    padding: 10px; 
    width: 980px;
}